@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

header, footer {
    font-family: 'Inter', sans-serif !important;
}

.nav-link.active {
    color: #17A200 !important;
    border-bottom: 5px solid #17A200 !important;
}

footer {
    background: url(../img/background_3.jpg) center/cover no-repeat;
}

@media (max-width: 426px) {
    #width {
        width: 100% !important;
    }

    .input-group .form-control, .input-group #button-addon2  {
        border-radius: 7px !important;
    }
}

@media (max-width: 769px) {
    .nav-link {
        color: black !important;
    }

    .nav-link.active {
        border-bottom: none !important;
    }

    #sign-up {
        background-color: transparent !important;
    }

    .width-md {
        width: 100% !important;
    }
}

